.calender-input-row{
  border: 2px solid black;
  display: block;
 width: 200px;
 height: 30px;
 position: relative;
 border-right-width:1px ;
 margin-bottom: 5px;
}

.calender-input{
width: 150px;
height: 33px;
display: inline;
position: fixed;
top: 10px;
border-bottom: 2px solid black;
}
.month-year-picker-section{
  justify-content: space-between;

}
.month-year{
 margin-left: 3px;
 margin-right: 3px;

}
.month-year-section{
  margin-right: 20px;
  margin-left: 20px;
  display: inline;
  width: 200px;
  height: 40px;
  margin-top: 30px;
}
.weekday-picker{
  margin-left:20px ;
}
.weekday-grid-container{
  width: 200px;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-auto-rows: minimax(60px,auto);
  margin-left: 4px;
  

}
.weekday{
  margin-right:8px;
  margin-left: 4px;
  
}
.calender{
  border: 3px solid black;
  width: 200px;
  height: 220px;
}


.calender-icon{
  width: 45px;
  height: 33px;
  left: 150px;
  top: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  background-color: white;
  display: inline;
  position: absolute;
  border: 2px solid black
}